shamefully-hoist=false
strict-peer-dependencies=false

# Allow build scripts for native/required packages
approved-builds[]="@nestjs/core"
approved-builds[]="@prisma/client"
approved-builds[]="@prisma/engines"
approved-builds[]="bcrypt"
approved-builds[]="esbuild"
approved-builds[]="msgpackr-extract"
approved-builds[]="prisma"
